@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
	font-size: 62.5%;
}

body{
		font: 1.6rem 'Open Sans', sans-serif;
		}
		h1,h2,h3{
			font-weight: 300;
			text-align: center;
		}
		h2{
			text-align: left;
			width: 80rem;
			margin:0 auto;
			background: #9b59b6;
			padding: 0.5rem;
			line-height: 3.0rem;
			color: #fafafa;
			text-shadow: .1rem .1rem 0 #222;
		}
		p{
			
			padding:15px;
			color:#222;
			background: #f0e1f7;
			line-height: 2.5rem;
			margin:0;
			
		}
		
		article{
			margin-bottom: 1.0rem;
			max-width: 80rem;
			margin: 0 auto;
		}
		article time{
			display: block;
			padding: .5rem;
			background-color: rgb(234, 182, 247);
		}
		*{
			box-sizing: border-box;
		}
		p a{
			color: #222;
			text-decoration: none;
		}
		.warning,.success{
			text-align: center;
			color:#222;
			max-width: 50rem;
			margin: 0 auto;
			
		}
		a{
			color:rgb(220,0,0);
		}
		a:hover{
			text-decoration: none;
		}
		/* formulaire*/
		.form{
			max-width: 60rem;
			margin:0 auto;
			padding:1.0rem;
		}
		input,label,textarea{
			display:block;
			width: 100%;
			resize: none;
		}
		input[type="text"],input[type="password"],textarea{
			padding: 0.1rem;
			line-height: 2.5rem;
			border:solid 0.1rem transparent;
			border-bottom-color: #ccc;
			margin-bottom: 1.0rem;
		}
		label{
			padding: 5px;
			color: #333;
		}
		input[type="submit"]{
			background: #09597C;
			line-height: 4.5rem;
			text-align: center;
			color:#fff;
			border:0;
			border-radius:0.4rem;
			font-size: inherit;
			cursor: pointer;
		}
		.success{
			background: rgb(0,200,0);
			color:#fff;
			text-align: center;
		}
		.alert{
			background: rgb(200,0,0);
			color:#fff;
		}
		p>.navigation{
			color: #fff;
			text-decoration: none;
		}
		p>.navigation:hover{
			text-decoration: underline;
		}
		header  h1::before{
			content:'\01F510';
			vertical-align: 0.1rem;
			margin-right: 0.5rem;
		}
		footer p{
			text-align: center;
			font-size: 1.2rem;
			color: #333;
			background-color: transparent;
		}

